@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* =============
    General
==============*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    color: black;
}


/* ==========
    Header
=============*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav-icon {
    max-width: 30px;
}

.nav {
    position: fixed;
    background-color: #1D2731;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: inherit;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
}

.nav-link:hover {
    color: #EC576B;
}

.nav-button {
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.25em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: #EC576B;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


/* ===========
    Home 
==============*/

.intro {
    margin-bottom: 1em;
}

.intro-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    display: inline-block;
    text-shadow: 1px 4px 5px #EC576B;
}

.span-img {
    max-width: 5%;
    padding: 0 0.2em;
}

.intro-name {
    text-align: center;
    margin-bottom: 0.5em;
}


/* ===========
    About Me
==============*/

.about-me-title {
    text-align: center;
    font-weight: 900;
}

.hr-el {
    width: 20%;
    margin: 1em auto;
    border: 1px solid #ec576ba6;
}

.about-me {
    background-color: #1D2731;
    color: white;
    padding: 3em;
    padding-top: 1.5em;
    text-align:center;
}

.about-me-p {
    line-height: 1.6;
    letter-spacing: 1px;
}

/*============
    Services
==============*/

.services {
    text-align: center;
    padding: 2em 3em 3em;
}

.services-title{
    text-align: center;
    font-weight: 900;
}

.services-p {
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 2em;
}

img {
    max-width: 10%;
}




/* =============
    Projects
===============*/

.projects {
    background-color: #1D2731;
    color: white;
    padding: 3em;
    padding-top: 2em;
    text-align:center;
}

.projects-title{
    font-weight: 900;
}

.project-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
}

.project {
    padding-bottom: 1em;
}

.project-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.project-link:focus,
.project-link:hover {
    color: #EC576B;
}

/* ===========
    Contact
=============*/

.contact{
    background-image: url(./Images/Coding.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 3em;
    text-align: center;
}

.contact-title {
    font-weight: 900;
    text-shadow: 1px 1px 3px #1D2731;
    margin-bottom: 1em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-shadow: 1px 1px #1D2731;
}

.btn {
    color: white;
    background-color: #1D2731;
    padding: 0.2em;
    font-size: 1.5rem;
    border-radius: 1em;
    border: 1px solid #ec576b50
}

button:focus, 
button:hover {
    cursor: pointer;
    color: #EC576B;
}


/* ===========
    Footer
==============*/

footer {
    background-color: white;
    color: #EC576B;
}
