@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* =============
    General
==============*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

.hr-el {
    width: 20%;
    margin: 1em auto;
    border: 1px solid #ec576ba6;
    background-color: #ec576ba6;
}


/* ==========
    Header
=============*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav-icon {
    max-width: 30px;
}

.nav {
    position: fixed;
    background-color: #1D2731;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: inherit;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
}

.nav-link:hover {
    color: #EC576B;
}

.nav-button {
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.25em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: #EC576B;
    width: 2em;
    height: 3.5px;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    position: fixed;
    right: inherit;
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


/* ===========
    Home 
==============*/

.intro {
    margin-bottom: 1em;
}

.intro-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    display: inline-block;
    text-shadow: 1px 1px 10px #EC576B;
}

.span-img {
    max-width: 7%;
    padding: 0 0.2em;
}

.intro-name {
    text-align: center;
    margin-bottom: 0.5em;
}


/* ===========
    About Me
==============*/

.about-me-title {
    text-align: center;
    font-weight: 900;
}

.about-me {
    background-color: #1D2731;
    color: white;
    padding: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align:center;
}

.about-me-p {
    line-height: 1.6;
    letter-spacing: 1px;
}

.myPic {
    object-fit: cover;
    max-width: 40%;
    height: 200px;
    border-radius: 100%;
    margin-top: 1em;
    box-shadow: 4px 4px 20px #ec576ba2;
}

/*============
    Services
==============*/

.services {
    text-align: center;
    padding: 2em 3em 2em;
}

.services-title{
    text-align: center;
    font-weight: 900;
}

.services-p {
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 2em;
}

img {
    max-width: 10%;
}

a.resume-btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 1.2em;
    padding: 0.5em 1em;
}

a.resume-btn:hover, 
a.resume-btn:focus {
    cursor: pointer;
    color: #EC576B;
}


/* =============
    Projects
===============*/

.projects {
    background-color: #1D2731;
    color: white;
    padding: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align:center;
}

.projects-title{
    font-weight: 900;
}

.project-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
}

.project {
    padding-bottom: 1em;
    font-size: 1.1rem;
    max-width: 95%;
    margin: 0 auto;
}

.project-link {
    display: block;
    color: #e75a6d;
    text-decoration: none;
    font-weight: 700;
}

.project-link:focus,
.project-link:hover {
    color: white;
}

.project-img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    object-fit: cover;
}

/* ===========
    Contact
=============*/

.contact{
    background-image: url(./Images/Coding.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 2em 3em 2em;
    text-align: center;
}

.contact-title {
    font-weight: 900;
    text-shadow: 1px 1px 3px #1D2731;
    margin-bottom: 1em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-shadow: 1px 1px #1D2731;
}

.btn {
    color: white;
    background-color: #1D2731;
    padding: 0.2em;
    font-size: 1.5rem;
    border-radius: 1em;
    border: 1px solid #ec576b50
}

button:focus, 
button:hover {
    cursor: pointer;
    color: #EC576B;
}


/* ===========
    Footer
==============*/

footer {
    background-color:#1D2731;
    color: white;
    text-align: center;
    padding: 0.5em ;   
}

.footer-link {
    max-width: 7%;
    transition: transform 350ms ease-in-out;
}

.footer-link:focus, 
.footer-link:hover {
    transform: scale(1.1);
}

/* ================
    Media queries
===================*/

@media (min-width: 700px) {
    .hr-el {
        width: 12%;
        background-color: #ec576ba6;
        margin: 1em auto;
    }

    .span-img {
        max-width: 5%;
    }

    .myPic {
        max-width: 20%;
    }

    .footer-link {
        max-width: 6%;
        transition: transform 350ms ease-in-out;
    }
}


@media (min-width: 1000px) {

    .hr-el {
        width: 10%;
      }
  
      .span-img {
          max-width: 4%;
      }
  
      .about-me-title, .services-title, .projects-title {
          font-size: 1.7rem;
      }
  
      .about-me-p, .services-p {
          font-size: 1.1rem;
          max-width: 90%;
          margin: 0 auto;
          margin-bottom: 0.5em;
      }
  
      .contact-form {
          max-width: 30%;
          margin: 0 auto;
          font-size: 1.4rem;
      }

      footer {
          padding: 0.8em;
      }
  
      .footer-link {
          max-width: 5%;
      }  

}

@media (min-width: 1200px) {
    .hr-el {
        width: 7%;
    }

    .span {
        font-size: 1.6rem;
    }
    .span-img {
        max-width: 3%;
        padding: 0 0.2em;
    }

    .intro-name {
        margin-bottom: 1.5em;
    }

    .about-me-title, .services-title, .projects-title {
        font-size: 1.9rem;
    }

    .about-me-p, .services-p {
        font-size: 1.2rem;
        max-width: 75%;
    }

    img {
        max-width: 5%;
    }

    .services-languages {
        margin-top: 1.5em;
    }

    .contact-form {
        max-width: 20%;
        margin: 0 auto;
        font-size: 1.4rem;
    }

    .footer-link {
        max-width: 3%;
    }
}